/* src/AnimatedImage.css */
.image-container {
    position: relative;
    width: 100%;
    height: 200px;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.05s linear;
}

.roomie {
    width: 200px; /* 원하는 너비 */
    height: auto; /* 높이는 비율에 맞게 자동 조정 */
}
